<participant typeCode="DEV">
  <associatedEntity classCode="RGPR">
    <!-- CMS EHR Certification Number (formerly known as Office of the 
        National Coordinator Certification Number). Note, this is a test
        file, and the provided ID is not for a certified product set. -->
    <id root="2.16.840.1.113883.3.2074.1" extension="0015CPV4ZTB4WBU"/>
    <code code="129465004" displayName="medical record, device" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED-CT"/>
  </associatedEntity>
</participant>