<supply classCode="SPLY" moodCode="EVN">
    <!—Days Supplied -->
    <templateId root="2.16.840.1.113883.10.20.24.3.157" extension="2018-10-01"/>
    <id root="6fc75044-6dc4-4ef6-b1e4-736c951cdfe4"/>
    <quantity value={{daysSupplied}} unit="d" />
</supply>