{{#route}}
<!--  QDM Attribute: Route -->
<routeCode {{> _code}}/>
{{/route}}
{{#negated}}
<!--  QDM Attribute: Dosage -->
<doseQuantity nullFlavor="NA"/>
{{/negated}}
{{^negated}}
{{#dosage}}
<!--  QDM Attribute: Dosage -->
<doseQuantity value="{{{value_as_float}}}" unit="{{unit}}"/>
{{/dosage}}
{{/negated}}