<entryRelationship typeCode="REFR">
  <observation classCode="OBS" moodCode="EVN">
      <templateId root="2.16.840.1.113883.10.20.24.3.152" extension="2017-08-01"/>
      <id root="{{random_id}}"/>
      <code code="8319008" codeSystem="2.16.840.1.113883.6.96" displayName="Principal Diagnosis" codeSystemName="SNOMED"/>
      <value {{> _code}} xsi:type="CD"/>
  </observation>
</entryRelationship>