<div class="div-table">
<div class="div-table-body">
{{#admissionSource}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Admission Source:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/admissionSource}}
{{#anatomicalApproachSite}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Anatomical Approach Site:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/anatomicalApproachSite}}
{{#anatomicalLocationSite}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Anatomical Location Site:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/anatomicalLocationSite}}
{{#cause}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Cause:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/cause}}
{{#category}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Category:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/category}}
{{#clazz}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Class:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/clazz}}
{{#components}}
	{{#code}}
		<div class="div-head-row">
			<div class="div-table-head--no-border"><span class="criteria-heading">Component Code:</span>  {{{code_code_system_string}}}</div>
		</div>
	{{/code}}
	{{#result}}
		<div class="div-head-row">
			<div class="div-table-head--no-border"><span class="criteria-heading">Component Result:</span>  {{{code_code_system_string}}}</div>
		</div>
	{{/result}}
{{/components}}
{{#daysSupplied}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Days Supplied:</span>  {{{daysSupplied}}}</div>
	</div>
{{/daysSupplied}}
{{#diagnoses}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Diagnosis:</span> {{{nested_code_string}}} {{{diagnosis_string}}}</div>
	</div>
{{/diagnoses}}
{{#dischargeDisposition}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Discharge Disposition:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/dischargeDisposition}}
{{#dispenser}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Dispenser:</span>  {{{entity_string}}}</div>
	</div>
{{/dispenser}}
{{#dosage}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Dosage:</span>  {{{unit_string}}}</div>
	</div>
{{/dosage}}
{{#facilityLocation}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Facility Location:</span>  {{{nested_code_string}}}</div>
	</div>
{{/facilityLocation}}
{{#facilityLocations}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Facility:</span>  {{{nested_code_string}}}</div>
	</div>
{{/facilityLocations}}
{{#frequency}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Frequency:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/frequency}}
{{#identifier}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Identifier:</span>  {{{identifier_string}}}</div>
	</div>
{{/identifier}}
{{#interpretation}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Interpretation:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/interpretation}}
{{#lengthOfStay}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Length Of Stay:</span>  {{{unit_string}}}</div>
	</div>
{{/lengthOfStay}}
{{#linkedPatientId}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Linked Patient Id:</span>  {{{linkedPatientId}}}</div>
	</div>
{{/linkedPatientId}}
{{#medium}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Medium:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/medium}}
{{#methodCode}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Method:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/methodCode}}
{{#negationRationale}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Negation Reason:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/negationRationale}}
{{#ordinality}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Ordinality:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/ordinality}}
{{#participant}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Participant:</span>  {{{entity_string}}}</div>
	</div>
{{/participant}}
{{#performer}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Performer:</span>  {{{entity_string}}}</div>
	</div>
{{/performer}}
{{#prescriber}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Prescriber:</span>  {{{entity_string}}}</div>
	</div>
{{/prescriber}}
{{#principalDiagnosis}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Principal Diagnosis:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/principalDiagnosis}}
{{#priority}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Priority:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/priority}}
{{#rank}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Rank:</span>  {{{rank}}}</div>
	</div>
{{/rank}}
{{#reason}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Reason:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/reason}}
{{#recipient}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Recipient:</span>  {{{entity_string}}}</div>
	</div>
{{/recipient}}
{{#recorder}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Recorder:</span>  {{{entity_string}}}</div>
	</div>
{{/recorder}}
{{#referenceRange}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Reference Range Start:</span>  {{#low}}{{format_time}}{{/low}}</div>
	</div>
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Reference Range End:</span>  {{#high}}{{format_time}}{{/high}}</div>
	</div>
{{/referenceRange}}
{{#refills}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Refills:</span>  {{{refills}}}</div>
	</div>
{{/refills}}
{{#relatedTo}}
{{! TODO: relatedTo is an array of strings, which are ids of dataElements, and not very useful to the user}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Related To:</span>  {{{relatedTo}}}</div>
	</div>
{{/relatedTo}}
{{#relationship}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Relationship:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/relationship}}
{{#requester}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Requester:</span>  {{{entity_string}}}</div>
	</div>
{{/requester}}
{{#route}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Route:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/route}}
{{#sender}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Sender:</span>  {{{entity_string}}}</div>
	</div>
{{/sender}}
{{#setting}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Setting:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/setting}}
{{#severity}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Severity:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/severity}}
{{#supply}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Supply:</span>  {{{unit_string}}}</div>
	</div>
{{/supply}}
{{#status}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Status:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/status}}
{{#type}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Type:</span>  {{{code_code_system_string}}}</div>
	</div>
{{/type}}
{{#result}}
	<div class="div-head-row">
		<div class="div-table-head--no-border"><span class="criteria-heading">Result:</span>  {{{result_string}}}</div>
	</div>
{{/result}}
</div>
</div>
