<div class="div-table">
<div class="div-table-body">
{{#dataElementCodes}}
<div class="div-head-row">
	<div class="div-table-head--no-border"><span class="criteria-heading">{{{code_system_name}}}:</span>  {{code}}{{{code_description}}}</div>
</div>
{{/dataElementCodes}}
</div>
</div>