<entry>
  <observation classCode="OBS" moodCode="RQO" {{{negation_ind}}}>
    <!-- Consolidation Plan of Care Activity Observation -->
    <templateId root="2.16.840.1.113883.10.20.22.4.44" extension="2014-06-09"/>
    <!-- Lab Test Order -->
    <templateId root="2.16.840.1.113883.10.20.24.3.37" extension="2017-08-01"/>
    <id root="1.3.6.1.4.1.115" extension="{{object_id}}"/>
    {{> _codes}}
    <text>{{description}}</text>
    <statusCode code="active"/>
    {{#authorDatetime}}
    {{> qrda_templates/template_partials/_author}}
    {{/authorDatetime}}
    {{#negationRationale}}
    {{> qrda_templates/template_partials/_reason}}
    {{/negationRationale}}
  </observation>
</entry>
