<recordTarget>
  <patientRole>
    <id extension="{{mrn}}" root="1.3.6.1.4.1.115" />
    <addr use="HP">
      <streetAddressLine>202 Burlington Rd.</streetAddressLine>
      <city>Bedford</city>
      <state>MA</state>
      <postalCode>01730</postalCode>
      <country>US</country>
    </addr>
    <telecom use="WP" value="tel:+1-781-271-3000"/>
    <patient>
      {{#patient}}
        <name>
          <given>{{{given_name}}}</given>
          <family>{{familyName}}</family>
        </name>
      {{/patient}}
      {{#patient_characteristic_sex}}
        {{#dataElementCodes}}
          <administrativeGenderCode {{> _code}}/>
        {{/dataElementCodes}}
      {{/patient_characteristic_sex}}
      {{^patient_characteristic_sex}}
          <administrativeGenderCode nullFlavor="UNK"/>
      {{/patient_characteristic_sex}}
      {{#patient_characteristic_birthdate}}
        {{{birth_date_time}}}
      {{/patient_characteristic_birthdate}}
      {{#patient_characteristic_race}}
        {{#dataElementCodes}}
          <raceCode {{> _code}}/>
        {{/dataElementCodes}}
      {{/patient_characteristic_race}}
      {{^patient_characteristic_race}}
          <raceCode nullFlavor="UNK"/>
      {{/patient_characteristic_race}}
      {{#patient_characteristic_ethnicity}}
        {{#dataElementCodes}}
          <ethnicGroupCode {{> _code}}/>
        {{/dataElementCodes}}
      {{/patient_characteristic_ethnicity}}
      {{^patient_characteristic_ethnicity}}
          <ethnicGroupCode nullFlavor="UNK"/>
      {{/patient_characteristic_ethnicity}}
      <languageCommunication>
        <languageCode code="eng"/>
      </languageCommunication>
    </patient>
  </patientRole>
</recordTarget>