{{#dataElementCodes}}
<code {{{code_and_codesystem}}}>
  <qualifier>
    <name code="VR" displayName="Virtual" codeSystem="2.16.840.1.113883.5.4" codeSystemName="ActCode"/>
    <value code="95" displayName="Synchronous Telemedicine Service Rendered Via a Real-Time Interactive Audio and Video Telecommunications System" codeSystem="2.16.840.1.113883.6.12" codeSystemName="CPT"/>
  </qualifier> 
</code>
{{/dataElementCodes}}